<% unless flash[:notice].blank? %>
  <div class="alert alert-info">
    <%= flash[:notice] %>
    <a class="close" data-dismiss="alert" href="#">&times;</a> 
  </div>
<% end %>

<% unless flash[:error].blank? %>
  <div class="alert alert-error">
    <%= flash[:error] %>
    <a class="close" data-dismiss="alert" href="#">&times;</a> 
  </div>
<% end %>

<% unless flash[:alert].blank? %>
  <div class="alert alert-warning">
    <%= flash[:alert] %>
    <a class="close" data-dismiss="alert" href="#">&times;</a> 
  </div>
<% end %>
